<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.2.5/angular-locale_pt-br.js"></script>
    <script src="javascripts/masks.js"></script>

    <title>Angular-input-masks by assisrafael</title>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Angular-input-masks</h1>
        <p>Personalized and localized input masks for AngularJS</p>

        <p class="view"><a href="https://github.com/assisrafael/angular-input-masks">View the Project on GitHub <small>assisrafael/angular-input-masks</small></a></p>


        <ul>
          <li><a href="https://github.com/assisrafael/angular-input-masks/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/assisrafael/angular-input-masks/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/assisrafael/angular-input-masks">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>

      <section>
        <h3>How to Install.</h3>

        <p>You can install it using bower</p>

        <pre><code>$ bower install --save angular-input-masks</code></pre>

        <h4>Adding angular-input-masks to your project:</h4>
         <ol>
           <li>Import the masks.min.js script in your page</li>
           <li>Include the module ui.utils.masks in your angular app.</li>
           <li>Include the desired ui-mask directive in a text field like the examples in this page</li>
         </ol>

<hr width="100%">

<script>
  angular.module('demo', ['ui.utils.masks']);
  function ctrl($scope) {
    $scope.states = ['AC','AL','AM','AP','BA','CE','DF','ES','GO','MA',
      'MG','MS','MT','PA','PB','PE','PI','PR','RJ','RN','RO','RR',
      'RS','SC','SE','SP','TO'];
  }
</script>
<div ng-app="demo" ng-controller="ctrl">
<h3>How to use it</h3>
 <h4>ui-number-mask</h4>
  <pre><code>&lt;input type=&quot;text&quot; ng-model=&quot;number&quot; ui-number-mask=&quot;4&quot;&gt;</code></pre>
  <form name="formN" ng-init="decimals=2; demoNumber=1234.56">
  <strong>Number:</strong> <input type="text" name="field1" ng-model="demoNumber" ui-number-mask="decimals">
     <code>Model value: {{demoNumber}}</code><br>
  <strong>Decimals:</strong> <input type="text" name="field2" ng-model="decimals" ui-number-mask=0 ui-hide-group-sep>
   <br><br>
  <li>Support to the <code>min</code> and <code>max</code> attributes.</li>
    <strong>Number: </strong><input type="text" name="field7" ng-model="number2" ui-number-mask="0" min="number2min" max="number2max" ng-init="number2=70">
      <code>Model value: {{number2}}</code><br>
    <strong>Min value:</strong> <input type="text" ng-model="number2min" ui-number-mask="0" ng-init="number2min=10">
      <code>Number respect the min value: {{!formN.field7.$error.min}}</code><br>
    <strong>Max value:</strong> <input type="text" ng-model="number2max" ui-number-mask="0" ng-init="number2max=100">
      <code>Number respect the max value: {{!formN.field7.$error.max}}</code>
    <br><br>

  <li>Support to <code>ui-negative-number</code> to accepts negative numbers.</li>
    <strong>Number: </strong><input type="text" ng-init="number3=-12.05" ng-model="number3" ui-number-mask="2" ui-negative-number>
      <code>Press '-' to test</code>
    <br><br>

  <li>Support to <code>ui-hide-group-sep</code> attributes.</li>
    <strong>Number: </strong><input type="text" ng-init="number4=1234567.89" ng-model="number4" ui-number-mask="2" ui-hide-group-sep>
      <code>Model value: {{number4}}</code><br>
    <br>

   <li>Internationalized: Used the decimal separator and thousands separator defined in the client browser configuration.</li>
 </form>


<hr width="80%">
<h4>ui-percentage-mask</h4>
  <pre><code>&lt;input type=&quot;text&quot; ng-model=&quot;percentage&quot; ui-percentage-mask=&quot;4&quot;&gt;</code></pre>
  <section>
  <form ng-init="percentageDemo=1234.56; pdecimals=2;">
    <strong>Percentage: </strong><input type="text" name="field5" ng-model="percentageDemo" ui-percentage-mask="pdecimals">
      <code>Model value: {{percentageDemo}}</code><br>
   <strong>Decimals:</strong> <input type="text" name="field3" ng-model="pdecimals" ui-number-mask=0 ui-hide-group-sep><br>
    <br>
   <li>Support to the <code>min</code> and <code>max</code> and <code>ui-negative-number</code> attributes.</li>
    <li>Internationalized: Used the decimal separator and thousands separator defined in the client browser configuration.</li>
  </form>
  </section>

 <hr width="80%">
 <h4>ui-money-mask</h4>
   <pre><code>&lt;input type=&quot;text&quot; ng-model=&quot;money&quot; ui-money-mask=&quot;3&quot;&gt;</code></pre>
   <form ng-init="moneyDemo=1234.56; mdecimals=2;">
    <strong>Money: </strong> <input type="text" name="field6" ng-model="moneyDemo" ui-money-mask="mdecimals">
       <code>Model value: {{moneyDemo}}</code><br>
    <strong>Decimals:</strong> <input type="text" name="field4" ng-model="mdecimals" ui-number-mask=0 ui-hide-group-sep>
     <br><br>
    <li>Support to the <code>min</code> and <code>max</code> and <code>ui-negative-number</code> attributes.</li>
     <li>Internationalized: Used the currency symbol, decimal separator and thousands separator defined in the client browser configuration.</li>
   </form>

 <hr width="80%">
 <h4>ui-br-phone-number</h4>
   <pre><code>&lt;input type=&quot;text&quot; ng-model=&quot;phoneNumber&quot; ui-br-phone-number&gt;</code></pre>
  <form ng-init="phone8='3125250784'; phone9='11412590346';">
     <strong>Phone number: </strong> <input type="text" name="field" ng-model="phone8" ui-br-phone-number>
       <code>Model value: {{phone8}}</code><br>
     <strong>Phone number: </strong> <input type="text" name="field" ng-model="phone9" ui-br-phone-number>
       <code>Model value: {{phone9}}</code>
     <br><br>
     <li>The same mask supports phone numbers with 8 or 9 numbers.</li>
   </form>

 <hr width="80%">
 <h4>ui-br-cep-mask</h4>
   <pre><code>&lt;input type=&quot;text&quot; ng-model=&quot;cep&quot; ui-br-cep-mask&gt;</code></pre>
   <form ng-init="cep=30421318;">
     <strong>CEP: </strong> <input type="text" name="field" ng-model="cep" ui-br-cep-mask>
       <code>Model value: {{cep}}</code>
   </form>

 <hr width="80%">
 <h4>ui-br-cpf-mask</h4>
   <pre><code>&lt;input type=&quot;text&quot; ng-model=&quot;cpf&quot; ui-br-cpf-mask&gt;</code></pre>
  <form name="cpfForm" ng-init="cpf='45581400458';">
    <strong>CPF: </strong> <input type="text" name="cpfField" ng-model="cpf" ui-br-cpf-mask>
      <br><code>&nbsp;&nbsp;Model value: {{cpf}} ({{cpfForm.cpfField.$error.cpf? 'Invalid' : 'Valid'}} CPF)</code>
    <br><br>
    <li>With CPF validation support.</li>
   </form>

<hr width="80%">
<h4>ui-br-cnpj-mask</h4>
  <pre><code>&lt;input type=&quot;text&quot; ng-model=&quot;cnpj&quot; ui-br-cnpj-mask&gt;</code></pre>
 <form name="cnpjForm" ng-init="cnpj='33861324000173';">
   <strong>CNPJ: </strong> <input type="text" name="cnpjField" ng-model="cnpj" ui-br-cnpj-mask>
     <br><code>&nbsp;&nbsp;Model value: {{cnpj}} ({{cnpjForm.cnpjField.$error.cnpj? 'Invalid' : 'Valid'}} CNPJ)</code>
   <br><br>
   <li>With CNPJ validation support.</li>
  </form>

<hr width="80%">
<h4>ui-br-cpfcnpj-mask</h4>
  <pre><code>&lt;input type=&quot;text&quot; ng-model=&quot;cpfCnpj&quot; ui-br-cpfcnpj-mask&gt;</code></pre>
 <form name="ccForm" ng-init="cpfcnpj='45581400458';">
   <strong>CPF/CNPJ: </strong> <input type="text" name="ccField" ng-model="cpfcnpj" ui-br-cpfcnpj-mask>
     <br><code>&nbsp;&nbsp;Model value: {{cpfcnpj}} ({{ccForm.ccField.$error.cpf || ccForm.ccField.$error.cnpj ? 'Invalid' : 'Valid'}} CPF/CNPJ)</code>
   <br><br>
   <li>With CPF/CNPJ validation support.</li>
  </form>

<hr width="80%">
<h4>ui-br-ie-mask</h4>
  <pre><code>&lt;select ng-init=&quot;ufs=['AC','AL','AM','TO']&quot; ng-model=&quot;selectedUF&quot; ng-options=&quot;uf for uf in ufs&quot;&gt;&lt;/select&gt;<br/>&lt;input type=&quot;text&quot; ng-model=&quot;ieField&quot; ui-br-ie-mask='selectedUF'&gt;</code></pre>
  <form ng-init="ieField='0623079040081'; selectedUF='MG';">
    <strong>State: </strong> <select ng-model="selectedUF" ng-options="uf for uf in states"></select> &nbsp;&nbsp;
    <strong>I.E.: </strong> <input type="text" name="field19" ng-model="ieField" ui-br-ie-mask='selectedUF'>
      <br><code>&nbsp;&nbsp;Model value: {{ieField}}</code>
    <br><br>
    <li>Support all the 27 brazillian states.</li>
    <li>Validations according to the <a href="http://www.sintegra.gov.br/insc_est.html">Sintegra especification</a></li>
  </form>

        </div>

      </section>






      <footer>
        <p>This project is maintained by <a href="https://github.com/assisrafael">assisrafael</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>

  </body>
</html>