<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Mask FR Demo</title>
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="../releases/angular-input-masks-dependencies.js"></script>
    <script src="../releases/angular-input-masks.fr.js"></script>
    <script>
        angular.module('demo', ['ui.utils.masks.fr'])
                .controller('ctrl', function ctrl($scope) {
                    $scope.initializedPhoneNumber = '3133536767';
                });
    </script>
</head>
<body ng-app="demo">
<form name="form" ng-controller="ctrl">
    <h2>ui-fr-phone-number</h2>
    <input id="fr-phone-input" type="text" name="phoneNumberTest" ng-model="phoneNumber" ui-fr-phone-number><br>
    <span id="fr-phone-value">{{phoneNumber}}</span> - {{form.phoneNumberTest.$valid}}<br>
    <br>
    <input id="init-fr-phone-input" type="text" name="initializedPhoneNumberTest" ng-model="initializedPhoneNumber" ui-fr-phone-number><br>
    <span id="init-fr-phone-value">{{initializedPhoneNumber}}</span> - {{form.initializedPhoneNumberTest.$valid}}<br>
    <br>
</form>
</body>
</html>
