<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Angular Mask Demo</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.2.5/angular-locale_pt-br.js"></script>
	<script src="../lib/string-mask.js"></script>
	<script src="../src/masks.js"></script>
	<script>
		angular.module('demo', ['ui.utils.masks']);

		function ctrl($scope) {
			$scope.numberWith2Decimals = 1234.178;
			$scope.percentageWithDefaultDecimals = 0.7654;

			$scope.initializedCpf = '35244457640';
			$scope.initializedCnpj = '13883875000120';
			$scope.initializedCpfCnpj1 = '56338332958';
			$scope.initializedCpfCnpj2 = '23212161000144';

			$scope.field14 = 15312;

			$scope.initializedPhoneNumber = '3133536767';
		}
	</script>
</head>
<body ng-app="demo">
	<form name="form" ng-controller="ctrl">
		<h2>ui-number-mask</h2>
		<input type="text" name="field" ng-model="numberWithDefaultDecimals" ui-number-mask> <br>
		<span ng-bind="numberWithDefaultDecimals"></span>
		<br>
		<input type="text" name="field2" ng-model="numberWith2Decimals" ui-number-mask="2" ui-negative-number> <br>
		<span ng-bind="numberWith2Decimals"></span> - (accepts negative numbers. Press '-' to test)
		<br>
		<input type="text" name="field3" ng-model="numberWith3Decimals" ui-number-mask="3" min="3.8" max="numberWith2Decimals"> <br>
		<span ng-bind="numberWith3Decimals"></span> {{form.field3.$error}}
		<br>
		<input type="text" name="field4" ng-model="numberWith0Decimals" ui-number-mask="0" min="numberWith3Decimals"> <br>
		<span ng-bind="numberWith0Decimals"></span> - {{form.field4.$error}}
		<br>

		<h2>ui-percentage-mask</h2>
		<input type="text" name="field5" ng-model="percentageWithDefaultDecimals" ui-percentage-mask> <br>
		<span ng-bind="percentageWithDefaultDecimals"></span>
		<br>
		<input type="text" name="field6" ng-model="percentageWith4Decimals" ui-percentage-mask="4" min="percentageWithDefaultDecimals"> <br>
		<span ng-bind="percentageWith4Decimals"></span> - {{form.field6.$error}}
		<br>

		<h2>ui-cpf-mask</h2>
		<input type="text" name="field7" ng-model="initializedCpf" ui-cpf-mask> <br>
		<span ng-bind="initializedCpf"></span> - {{form.initializedCpf.$error}}<br>
		<input type="text" name="field8" ng-model="fieldCpf" ui-cpf-mask> <br>
		<span ng-bind="fieldCpf"></span> - {{form.field8.$error}}<br>

		<h2>ui-cnpj-mask</h2>
		<input type="text" name="field9" ng-model="initializedCnpj" ui-cnpj-mask> <br>
		<span ng-bind="initializedCnpj"></span> - {{form.initializedCnpj.$error}}<br>
		<input type="text" name="field10" ng-model="fieldCnpj" ui-cnpj-mask> <br>
		<span ng-bind="fieldCnpj"></span> - {{form.field10.$error}}<br>

		<h2>ui-cpfcnpj-mask</h2>
		<input type="text" name="field11" ng-model="initializedCpfCnpj1" ui-cpfcnpj-mask> <br>
		<span ng-bind="initializedCpfCnpj1"></span> - {{form.field11.$error}}<br>
		<input type="text" name="field12" ng-model="initializedCpfCnpj2" ui-cpfcnpj-mask> <br>
		<span ng-bind="initializedCpfCnpj2"></span> - {{form.field12.$error}}<br>
		<input type="text" name="field13" ng-model="cpfcnpj" ui-cpfcnpj-mask> <br>
		<span ng-bind="cpfcnpj"></span> - {{form.field13.$error}}<br>

		<h2>ui-money-mask</h2>
		<input type="text" name="field14" ng-model="field14" ui-money-mask> <br>
		{{field14}} - {{form.field14.$error}}<br>
		<input type="text" name="field15" ng-model="field15" ui-money-mask="3"> <br>
		{{field15}} - {{form.field15.$error}}<br>
		<input type="text" name="field16" ng-model="field16" ui-money-mask="0"> <br>
		{{field16}} - {{form.field16.$error}}<br>

		<h2>ui-br-phone-number</h2>
		<input type="text" name="phoneNumber" ng-model="phoneNumber" ui-br-phone-number><br>
		<span ng-bind="phoneNumber">-</span>
		<br>
		<input type="text" name="initializedPhoneNumber" ng-model="initializedPhoneNumber" ui-br-phone-number><br>
		<span ng-bind="initializedPhoneNumber">-</span>
		<br>
	</form>
</body>
</html>
