<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Inscricão Estadual Spec</title>
	<script src="/node_modules/angular/angular.min.js"></script>
	<script src="/releases/angular-input-masks-dependencies.js"></script>
	<script src="/releases/angular-input-masks.br.js"></script>
	<script>
		angular.module('app', ['ui.utils.masks'])
			.controller('ctrl', function ctrl($scope) {
				$scope.states = ['AC','AL','AM','AP','BA','CE','DF','ES','GO','MA',
					'MG','MS','MT','PA','PB','PE','PI','PR','RJ','RN','RO','RR',
					'RS','SC','SE','SP','TO'];
				$scope.fixedStateIE = '0623079040081';
				$scope.initializedState = 'SP';
				$scope.initializedIE = 'P358874770971';
			});
	</script>
</head>
<body ng-app="app">
	<form name="form" ng-controller="ctrl">
		<h2>ui-br-ie-mask</h2>
		<input type="text" name="field24" ng-model="fixedStateIE" ng-model-options="{allowInvalid:true}" ui-br-ie-mask="'MG'"><br>
		<span></span>MG: <span ng-bind="fixedStateIE"></span> - <span ng-bind="form.field24.$error | json"></span><br>
		<br>
		<select ng-model="initializedState" ng-options="state for state in states"></select>
		<input type="text" name="field19" ng-model="initializedIE" ng-model-options="{allowInvalid:true}" ui-br-ie-mask='initializedState'><br>
		<span ng-bind="initializedState"></span>: <span ng-bind="initializedIE"></span> - <span ng-bind="form.field19.$error | json"></span><br>
		<br>
		<select ng-model="state" ng-options="state for state in states">
			<option value="">--</option>
		</select>
		<input type="text" name="field20" ng-model="inscEst" ng-model-options="{allowInvalid:true}" ui-br-ie-mask="state"><br>
		<span ng-bind="state"></span>: <span ng-bind="inscEst"></span> - <span ng-bind="form.field20.$error | json"></span><br>
		<br>
	</form>
</body>
</html>
