<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Car Plate Spec</title>
	<script src="/node_modules/angular/angular.min.js"></script>
	<script src="/releases/angular-input-masks-dependencies.js"></script>
	<script src="/releases/angular-input-masks.br.js"></script>
	<script>
		angular.module('app', ['ui.utils.masks'])
			.controller('ctrl', function ctrl($scope) {
				$scope.initializedCarPlate = 'ABC2010';
			});
	</script>
</head>
<body ng-app="app">
	<form name="form" ng-controller="ctrl">
		<h2>ui-br-car-plate-mask</h2>
		<input type="text" name="field17" ng-model="initializedCarPlate" ui-br-car-plate-mask><br>
		<span ng-bind="initializedCarPlate"></span> - {{form.field17.$error}}<br>
		<br>
		<input type="text" name="field18" ng-model="carPlate" ng-model-options="{allowInvalid:true}" ui-br-car-plate-mask><br>
		<span ng-bind="carPlate"></span> - {{form.field18.$error}}<br>
		<br>
	</form>
</body>
</html>
